<!-- DEBUT PUB -->
<hr>
<div id="mpuTop">
    <h6>Publicité</h6>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- mpuTop -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-0836191385020286"
         data-ad-slot="3319974085"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- FIN PUB -->

<!-- DEBUT FLUX TWITTER -->
<hr>
<div id="fluxTwitter">
    <a class="twitter-timeline" data-lang="fr" data-width="300" data-height="500" href="https://twitter.com/Nakaoni?ref_src=twsrc%5Etfw">
        Tweets de Nakaoni
    </a>
    <script async src="https://platform.twitter.com/widgets.js"></script>
</div>
<!-- DEBUT FLUX TWITTER -->

<!-- DEBUT PUB -->
<hr>
<div id="mpuBottom">
    <h6>Publicité</h6>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MpuBottom -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-0836191385020286"
         data-ad-slot="4089705247"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- FIN PUB -->