{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="min-height: 50vh">
        <h6>Une erreur s'est produite : Vous n'avez pas accès à ce contenu !</h6>
        <p>Voulez-vous retourner à l'<a href="{{ path('app_front_home_index') }}">accueil</a>  ?</p>
    </div>
{% endblock %}