{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h6>Une erreur s'est produite : nous nous excusons de la gêne occasionée!</h6>
        <p>Voulez-vous retourner à l'<a href="{{ path('app_home_index') }}">accueil</a>  ?</p>
    </div>
{% endblock %}